## Weighted frequency distributions and comparisons

This notebook runs on data previously weighted in R using the survey package (survey:::rake)

##### Raking parameters: gender, age group, marital status, education level 
Population marginal distributions based on 2018 ACS 5-Year Estimates - Public Use Microdata <br>

* Gender:
  + 1 = female (51.4%)
  + 2 = male (48.6%) <br><br>
  
* Age group:
  + 2 = 19-25 years old (12.7%) <br>
  + 3 = 26-35 years old (18.1%) <br>
  + 4 = 36-45 years old (16.6%) <br>
  + 5 = 46-55 years old (17.5%) <br>
  + 6 = 56-65 years old (16.5%) <br>
  + 7 = 66+ years old (18.6%) <br><br>
  
* Marital status:
  + 1 = married (48.7%)
  + 2 = never married, divorced, widowed, separated (51.3%) <br><br>

* Education level:
  + 1 = less than high school (12.0%)
  + 2 = high school diploma (27.5%)
  + 3 = some college (31.1%)
  + 4 = bachelor's degree (18.6%)
  + 5 = graduate degree (10.8%) <br>

*Note: <br>
1) can't use education level due to high level of missing data from week1 <br>
2) age <19 is excluded from the population estimates before raking to match the survey data*

In [1]:
import numpy as np
import pandas as pd
from IPython.display import display, Markdown

import utility as util

import warnings
warnings.filterwarnings("ignore")

In [2]:
control = pd.read_csv('../output/control_weighted.csv')
covid = pd.read_csv('../output/covid_weighted.csv')
privacy = pd.read_csv('../output/privacy_weighted.csv')
finance = pd.read_csv('../output/finance_weighted.csv')
mental = pd.read_csv('../output/mental_weighted.csv')
uas = pd.read_csv('../output/uas_weighted.csv')

In [3]:
# Q1, Q2=mental health; Q5, Q6=COVID19; Q8=finance
fb_cols = ['Q1', 'Q2', 'Q5', 'Q6', 'Q8']
uas_cols = ['cr027a', 'cr027c', 'cr030', 'cr018a', 'ei002']

### Condition: control

In [4]:
util.create_comparison_tables(control, uas, fb_cols, uas_cols)

#### Comparing unweighted and weighted estimates of Q1

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1,58.0,52.0,57.2,56.1,59.8
2,24.2,18.0,31.0,31.4,29.1
3,9.4,12.1,7.0,7.4,6.3
4,8.5,18.0,4.8,5.0,4.8
Total n,331,331,"6,284",6261.65,6255.55

#### Comparing unweighted and weighted estimates of Q2

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1,57.7,54.9,66.7,65.3,68.7
2,27.2,22.6,24.3,24.8,22.6
3,7.3,5.9,5.1,5.6,4.9
4,7.9,16.6,3.9,4.3,3.8
Total n,331,331,"6,288",6265.8,6256.32

#### Comparing unweighted and weighted estimates of Q5

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1.0,37.0,37.3,15.4,14.9,16.8
2.0,11.2,13.4,8.5,8.6,8.9
3.0,14.5,7.2,19.1,19.5,19.3
4.0,31.8,38.2,47.4,47.2,43.2
5.0,5.5,3.9,9.7,9.8,11.9
Total n,330,330.601,"6,304",6283.46,6273.34

#### Comparing unweighted and weighted estimates of Q6

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1.0,56.1,52.9,47.4,46.9,45.6
2.0,27.0,33.6,38.1,38.3,39.9
3.0,17.0,13.5,14.5,14.8,14.5
Total n,330,330.601,"6,335",6320.17,6304.5

#### Comparing unweighted and weighted estimates of Q8

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1.0,7.9,9.6,6.2,6.9,7.2
2.0,89.7,88.5,91.7,90.7,90.1
3.0,2.4,1.9,2.1,2.4,2.8
Total n,330,330.591,"6,279",6256.65,6245.17

### Condition: COVID

Q5: How likely are you to get vaccinated for coronavirus once a vaccine is available to the public? 1 = Very Unlikely; 2 = Somewhat Unlikely; 3 = Somewhat Likely; 4 = Very Likely; 5 = Unsure <br>
Q6: Are Federal, state, or local governments currently requiring you to limit non-essential travel? 1 = Yes; 2 = No; 3 = Unsure

In [5]:
util.create_comparison_tables(covid, uas, fb_cols, uas_cols)

#### Comparing unweighted and weighted estimates of Q1

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1.0,38.7,35.5,57.2,56.1,59.8
2.0,30.2,27.4,31.0,31.4,29.1
3.0,10.1,13.2,7.0,7.4,6.3
4.0,21.0,23.9,4.8,5.0,4.8
Total n,553,553.777,"6,284",6261.65,6255.55

#### Comparing unweighted and weighted estimates of Q2

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1.0,44.9,39.3,66.7,65.3,68.7
2.0,32.2,30.8,24.3,24.8,22.6
3.0,9.6,12.0,5.1,5.6,4.9
4.0,13.2,17.9,3.9,4.3,3.8
Total n,552,553.554,"6,288",6265.8,6256.32

#### Comparing unweighted and weighted estimates of Q5

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1,41.3,42.2,15.4,14.9,16.8
2,7.9,7.8,8.5,8.6,8.9
3,12.5,10.5,19.1,19.5,19.3
4,29.2,28.2,47.4,47.2,43.2
5,9.0,11.2,9.7,9.8,11.9
Total n,554,554,"6,304",6283.46,6273.34

#### Comparing unweighted and weighted estimates of Q6

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1,56.5,58.2,47.4,46.9,45.6
2,30.5,26.3,38.1,38.3,39.9
3,13.0,15.5,14.5,14.8,14.5
Total n,554,554,"6,335",6320.17,6304.5

#### Comparing unweighted and weighted estimates of Q8

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1.0,11.4,14.8,6.2,6.9,7.2
2.0,85.5,82.9,91.7,90.7,90.1
3.0,3.1,2.2,2.1,2.4,2.8
Total n,551,552.355,"6,279",6256.65,6245.17

### Condition: privacy

In [6]:
util.create_comparison_tables(privacy, uas, fb_cols, uas_cols)

#### Comparing unweighted and weighted estimates of Q1

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1,42.4,23.8,57.2,56.1,59.8
2,33.9,49.6,31.0,31.4,29.1
3,11.9,12.7,7.0,7.4,6.3
4,11.9,13.9,4.8,5.0,4.8
Total n,59,59,"6,284",6261.65,6255.55

#### Comparing unweighted and weighted estimates of Q2

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1,49.2,38.0,66.7,65.3,68.7
2,30.5,23.1,24.3,24.8,22.6
3,10.2,25.9,5.1,5.6,4.9
4,10.2,13.1,3.9,4.3,3.8
Total n,59,59,"6,288",6265.8,6256.32

#### Comparing unweighted and weighted estimates of Q5

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1,54.2,57.1,15.4,14.9,16.8
2,8.5,11.0,8.5,8.6,8.9
3,8.5,5.6,19.1,19.5,19.3
4,22.0,21.9,47.4,47.2,43.2
5,6.8,4.4,9.7,9.8,11.9
Total n,59,59,"6,304",6283.46,6273.34

#### Comparing unweighted and weighted estimates of Q6

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1,49.2,60.0,47.4,46.9,45.6
2,37.3,30.5,38.1,38.3,39.9
3,13.6,9.5,14.5,14.8,14.5
Total n,59,59,"6,335",6320.17,6304.5

#### Comparing unweighted and weighted estimates of Q8

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1,15.3,14.6,6.2,6.9,7.2
2,84.7,85.4,91.7,90.7,90.1
Total n,59,59,"6,279",6256.65,6245.17
3.0,NaN,NaN,2.1,2.4,2.8

### Condition: finance

Q8: In the past seven days, were you worried you would run out of food because of a lack of money or other resources? 1 = Yes; 2 = No; 3 = Unsure

In [7]:
util.create_comparison_tables(finance, uas, fb_cols, uas_cols)

#### Comparing unweighted and weighted estimates of Q1

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1,43.7,25.9,57.2,56.1,59.8
2,36.6,38.6,31.0,31.4,29.1
3,7.0,13.3,7.0,7.4,6.3
4,12.7,22.1,4.8,5.0,4.8
Total n,142,142,"6,284",6261.65,6255.55

#### Comparing unweighted and weighted estimates of Q2

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1,53.5,42.6,66.7,65.3,68.7
2,30.3,23.4,24.3,24.8,22.6
3,6.3,14.1,5.1,5.6,4.9
4,9.9,19.8,3.9,4.3,3.8
Total n,142,142,"6,288",6265.8,6256.32

#### Comparing unweighted and weighted estimates of Q5

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1,28.9,22.7,15.4,14.9,16.8
2,4.2,4.5,8.5,8.6,8.9
3,15.5,13.8,19.1,19.5,19.3
4,43.0,55.4,47.4,47.2,43.2
5,8.5,3.5,9.7,9.8,11.9
Total n,142,142,"6,304",6283.46,6273.34

#### Comparing unweighted and weighted estimates of Q6

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1,57.0,67.7,47.4,46.9,45.6
2,31.7,17.8,38.1,38.3,39.9
3,11.3,14.6,14.5,14.8,14.5
Total n,142,142,"6,335",6320.17,6304.5

#### Comparing unweighted and weighted estimates of Q8

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1.0,6.4,8.2,6.2,6.9,7.2
2.0,90.8,90.7,91.7,90.7,90.1
3.0,2.8,1.1,2.1,2.4,2.8
Total n,141,141.775,"6,279",6256.65,6245.17

### Condition: mental health

Q1: In the past fourteen days, how often have you felt nervous, anxious, or on edge? 1 = Not at all or less than 1 day; 2 = 1-2 days; 3 = 3-4 days; 4 = 5-7 days <br>
Q2: In the past 7 days, how often have you felt depressed? 1 = Not at all or less than 1 day; 2 = 1-2 days; 3 = 3-4 days; 4 = 5-7 days

In [8]:
util.create_comparison_tables(mental, uas, fb_cols, uas_cols)

#### Comparing unweighted and weighted estimates of Q1

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1,30.1,27.1,57.2,56.1,59.8
2,33.2,31.4,31.0,31.4,29.1
3,14.8,13.7,7.0,7.4,6.3
4,21.9,27.8,4.8,5.0,4.8
Total n,196,196,"6,284",6261.65,6255.55

#### Comparing unweighted and weighted estimates of Q2

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1,35.7,33.0,66.7,65.3,68.7
2,35.2,27.9,24.3,24.8,22.6
3,12.8,17.1,5.1,5.6,4.9
4,16.3,22.0,3.9,4.3,3.8
Total n,196,196,"6,288",6265.8,6256.32

#### Comparing unweighted and weighted estimates of Q5

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1,20.9,19.8,15.4,14.9,16.8
2,10.7,12.7,8.5,8.6,8.9
3,10.7,10.8,19.1,19.5,19.3
4,48.5,46.8,47.4,47.2,43.2
5,9.2,10.0,9.7,9.8,11.9
Total n,196,196,"6,304",6283.46,6273.34

#### Comparing unweighted and weighted estimates of Q6

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1,59.2,68.7,47.4,46.9,45.6
2,23.5,17.5,38.1,38.3,39.9
3,17.3,13.8,14.5,14.8,14.5
Total n,196,196,"6,335",6320.17,6304.5

#### Comparing unweighted and weighted estimates of Q8

,FB unweighted (%),FB raked (%),UAS unweighted (%),UAS raked (%),UAS originally weighted (%)
1.0,8.7,12.1,6.2,6.9,7.2
2.0,88.2,84.8,91.7,90.7,90.1
3.0,3.1,3.1,2.1,2.4,2.8
Total n,195,195.656,"6,279",6256.65,6245.17